<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EACDM_Utility.Properties.Settings.EACConnectionString"
            connectionString="Data Source=PRHVISTA\SQLEXPRESS;Initial Catalog=EAC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>